* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
}

/* Start Header */
.header__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__nav ul li {
  margin: 55px 15px;
}




.header__nav ul li a {
  text-decoration: none;
}

.header__nav .btn-gradient {
  display: inline;
}

/* End Header */