* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 0 15%;
}

/* Start Header */
.header__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-self: space-between;
  align-items: center;
}

.header .ul .li {
  display: inline-block;
}

/* End Header */